@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply h-full overflow-x-hidden;
}

body {
  @apply bg-gray-900 text-white;
}

/* Add a subtle animation to all links */
a {
  @apply transition-all duration-300 ease-in-out;
}

a:hover {
  @apply text-teal-300;
}

/* Add a glow effect to headings */
h1, h2, h3, h4, h5, h6 {
  @apply text-teal-300;
  text-shadow: 0 0 10px rgba(45, 212, 191, 0.5);
}

html, body, a, button, input[type="submit"], input[type="button"], .cursor-pointer {
  cursor: auto;
}

a:hover, button:hover, input[type="submit"]:hover, input[type="button"]:hover, .cursor-pointer:hover {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}